*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1a1a1a;
}

.gradient{
  background: rgb(27,27,27);
background: linear-gradient(202deg, rgba(27,27,27,1) 17%, rgba(60,60,60,1) 96%);
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

